VEAS - Daily counts of people of short, medium and long durations in the waste water collection area.

Preamble -- load essential libraries and define util functions

In [0]:
#!pip3 install pandas_gbq==0.8.0

Collecting pandas_gbq==0.8.0
  Downloading https://files.pythonhosted.org/packages/1b/28/7789467cc1b82406d25155e62f15f2c6f1198e5b500ecb52f017cb234e7d/pandas_gbq-0.8.0-py2.py3-none-any.whl
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.6/dist-packages (from pandas_gbq==0.8.0) (0.4.1)
Requirement already satisfied: google-cloud-bigquery>=0.32.0 in /usr/local/lib/python3.6/dist-packages (from pandas_gbq==0.8.0) (1.21.0)
Requirement already satisfied: google-auth in /usr/local/lib/python3.6/dist-packages (from pandas_gbq==0.8.0) (1.4.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pandas_gbq==0.8.0) (42.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandas_gbq==0.8.0) (0.25.3)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib->pandas_gbq==0.8.0) (1.3.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.3 in /usr/local/lib/python3.6/dist-packages (from google-cloud-bigquery>=0.32.0->pandas_gbq==0.8.0) (1.0.3)
Requirement already satisfied: google-resumable-media!=0.4.0,<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from google-cloud-bigquery>=0.32.0->pandas_gbq==0.8.0) (0.4.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.6/dist-packages (from google-cloud-bigquery>=0.32.0->pandas_gbq==0.8.0) (3.10.0)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth->pandas_gbq==0.8.0) (4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth->pandas_gbq==0.8.0) (0.2.7)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from google-auth->pandas_gbq==0.8.0) (1.12.0)
Requirement already satisfied: cachetools>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth->pandas_gbq==0.8.0) (4.0.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_gbq==0.8.0) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_gbq==0.8.0) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_gbq==0.8.0) (2018.9)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas_gbq==0.8.0) (2.21.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas_gbq==0.8.0) (3.1.0)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from google-cloud-core<2.0dev,>=1.0.3->google-cloud-bigquery>=0.32.0->pandas_gbq==0.8.0) (1.15.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa>=3.1.4->google-auth->pandas_gbq==0.8.0) (0.4.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas_gbq==0.8.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas_gbq==0.8.0) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas_gbq==0.8.0) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->pandas_gbq==0.8.0) (3.0.4)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.3->google-cloud-bigquery>=0.32.0->pandas_gbq==0.8.0) (1.6.0)
Installing collected packages: pandas-gbq
  Found existing installation: pandas-gbq 0.11.0
    Uninstalling pandas-gbq-0.11.0:
      Successfully uninstalled pandas-gbq-0.11.0
Successfully installed pandas-gbq-0.8.0

In [0]:
# Load libraries 
from google.colab import auth
from google.cloud.bigquery import SchemaField
from google.cloud import bigquery
import time
from datetime import timedelta, date

In [2]:
#Authenticate on GCP
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
# Define a date range function for cleaner table suffix defines
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

In [0]:
# Store results to table (adm_user_access)
project = 'telia-ddi-no-dev'
dataset = 'hannetorill'
table = 'delivery_veas_dwell_counts'
path  = dataset+"."+table

In [0]:
# Clear table if it already exists
from google.cloud.exceptions import NotFound

def table_exists(client, table_ref):
  try:
    client.get_table(table_ref)
    return True
  except NotFound:
    print("Table {} is not found.".format(table_id))
    print("Continuing...")
    return False

In [7]:
client = bigquery.Client(project=project)
table_ref = client.dataset(dataset).table(table)

if table_exists(client, table_ref):
  QUERY=f'DELETE FROM {path} where true'
  query_job = client.query(QUERY,location='EU') 
  query_job.result()  # Waits for the query to finish
  print('Cleared table {}'.format(table_ref.path))

Cleared table /projects/telia-ddi-no-dev/datasets/hannetorill/tables/delivery_veas_dwell_counts

In [0]:
def querystring(strdate):
  return f"""-- Define Area of Interest
with aoi as ( 
  SELECT
    m.*
    FROM `telia-ddi-no-prod.maps.administrative_level_4` as m
    inner join `telia-ddi-no-prod.maps.bydel_grunnkrets_mapping_2018` as b
      on m.admin_level_4_code = b.admin_level_4_code
    where b.bydel_name in ("Ullern", "Vestre Aker", "Frogner", "Nordre Aker", "Bjerke", "St. Hanshaugen", "Sagene")
  union all
  SELECT * FROM `telia-ddi-no-prod.maps.administrative_level_4` as n
    where n.admin_level_2 in ("Bærum", "Asker")
    or (n.admin_level_2 in ("Nesodden") and n.admin_level_3 in ("Bjørnemyr"))
    or (n.admin_level_2 in ("Røyken") and n.admin_level_3 in ("Østbygda slemmestad"))
    or (n.admin_level_2 in ("Røyken") and n.admin_level_4 in ("Hallenskog", "Wang", "Gleinåsen/Katrineåsen", "Heggum"))
    or (n.admin_level_2 in ("Nesodden") and n.admin_level_4 in ("Ellingstad"))
 )
 -- Extrapolate from market share
 , ex_customers AS (
  SELECT
    (1 / p_observation) * m_cluster_adjuster * m_device_reducer AS m_customers_morning
  FROM `telia-ddi-no-prod.extrapolation.signal_probabilities_day_part_{strdate}`
  WHERE day_part="Morning"
)
, ex_identifier AS (
  SELECT
    identifier, observed_market_share
  FROM `telia-ddi-no-prod.mobility_signals.areas_of_habit_{strdate}` h
  INNER JOIN `telia-ddi-no-prod.maps.administrative_level_4` ma ON ST_CONTAINS(ma.geo, h.point)
  INNER JOIN `telia-ddi-no-prod.extrapolation.administrative_level_3_baseline_market_share` ms ON ms.admin_level_3_code = ma.admin_level_3_code
  WHERE h.aoh_classification = 'HOME'
)
-- Get the data
, data as (
  SELECT
    m.admin_level_4_code AS area_code
    , m.admin_level_2 as area
    , ma.admin_level_4_code AS aoh_area_code
    , ma.admin_level_2 as aoh_area
    , h.aoh_classification
    , c.identifier
    , TIMESTAMP_TRUNC(c.start_time, DAY) AS utc_day
    , c.duration
  -- get the high quality dwells in the area of interest
  FROM `telia-ddi-no-prod.mobility_signals.dwells_{strdate}` c
  INNER JOIN `telia-ddi-no-prod.mobility_signals.identifiers_{strdate}` t ON c.identifier = t.identifier
  INNER JOIN aoi m ON c.geo_id_admin_level_4 = m.geo_id
  -- find the aoh for the signals
  INNER JOIN `telia-ddi-no-prod.mobility_signals.areas_of_habit_{strdate}` h ON c.identifier = h.identifier
  INNER JOIN `telia-ddi-no-prod.maps.administrative_level_4` ma ON ST_CONTAINS(ma.geo, h.point)
  WHERE t.rating NOT IN ('C')
    and duration >= 5*60*60
)
, visit_durations as (
  select d.*
  , case
      when (d.duration < 8*60*60) then "SHORT"
      when d.duration >= 12*60*60 then "LONG"
      else "MEDIUM" end as dur_type
  , (m_customers_morning/i.observed_market_share) as people
  from data d, ex_customers
  LEFT JOIN ex_identifier i
  ON i.identifier = d.identifier
)
, short_durs as (
  select area, date(utc_day) as dato, people
  from visit_durations v, ex_customers
  where dur_type = "SHORT"
)
, medium_durs as (
  select  area, date(utc_day) as dato, people
  from visit_durations v, ex_customers
  where dur_type = "MEDIUM"
)
, long_durs as (
  select area, date(utc_day) as dato, people
  from visit_durations v, ex_customers
  where dur_type = "LONG"
)
select 
  s.area, s.dato, s.people_short, m.people_medium, l.people_long
from (select DENSE_RANK() OVER(ORDER BY dato, area) AS id
    , area, dato, CAST(ROUND(sum(people)) AS INT64) as people_short
  from short_durs group by dato, area) s
  inner join ( select DENSE_RANK() OVER(ORDER BY dato, area) AS id
    , area, dato, CAST(ROUND(sum(people)) AS INT64) as people_medium
    from medium_durs group by dato, area ) m on s.id = m.id
  inner join ( select DENSE_RANK() OVER(ORDER BY dato, area) AS id
    , area, dato, CAST(ROUND(sum(people)) AS INT64) as people_long
    from long_durs group by dato, area ) l on s.id = l.id
"""

In [18]:
start_date = date(2019, 11, 4)
end_date = date(2019, 11, 30)

for single_date in daterange(start_date, end_date):
  print (single_date.strftime("%Y%m%d"))
  strdate = single_date.strftime("%Y%m%d")+""
  time.sleep(2)
  client = bigquery.Client(project=project)
  QUERY  = querystring(strdate)
  query_job = client.query(QUERY, location="EU") 
  table_ref = client.dataset(dataset).table(table)
  e = query_job.to_dataframe()
  print(e)
   
  e.to_gbq(path, project, None, 
           False, 'append', False, None, "EU", True, None, None, None)

20191104
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-04         86902          49452        20314
1     Bærum  2019-11-04        183882         104710        40514
2  Nesodden  2019-11-04          3993           2040         1049
3      Oslo  2019-11-04        547703         311046        97406
4    Røyken  2019-11-04         15522           8172         5069

1it [00:04,  4.11s/it]

20191105
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-05         85900          49296        20295
1     Bærum  2019-11-05        182211         103381        41049
2  Nesodden  2019-11-05          4204           1860         1093
3      Oslo  2019-11-05        554161         309479        95900
4    Røyken  2019-11-05         14799           8305         4860

1it [00:03,  3.71s/it]

20191106
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-06         85003          48231        20769
1     Bærum  2019-11-06        182181         101400        41271
2  Nesodden  2019-11-06          3571           2010         1065
3      Oslo  2019-11-06        546472         309858        98378
4    Røyken  2019-11-06         14781           7866         5022

1it [00:03,  3.97s/it]

20191107
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-07         85989          48038        20431
1     Bærum  2019-11-07        181148         102219        40104
2  Nesodden  2019-11-07          3626           1839         1112
3      Oslo  2019-11-07        543289         302501        97538
4    Røyken  2019-11-07         14076           8370         4837

1it [00:05,  5.03s/it]

20191108
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-08         82911          42309        21665
1     Bærum  2019-11-08        176271          91936        42690
2  Nesodden  2019-11-08          3461           1790         1053
3      Oslo  2019-11-08        523206         275734        98697
4    Røyken  2019-11-08         14162           7317         5305

1it [00:04,  4.41s/it]

20191109
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-09         23921          29424        26995
1     Bærum  2019-11-09         46069          58341        54355
2  Nesodden  2019-11-09          1010           1239         1301
3      Oslo  2019-11-09        124022         147926       131182
4    Røyken  2019-11-09          4449           5696         6240

1it [00:03,  3.47s/it]

20191110
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-10         18846          23758        33524
1     Bærum  2019-11-10         34402          46998        67812
2  Nesodden  2019-11-10          1015           1047         1487
3      Oslo  2019-11-10         98708         126311       160186
4    Røyken  2019-11-10          3230           4083         7720

1it [00:04,  4.10s/it]

20191111
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-11         86143          45168        21932
1     Bærum  2019-11-11        180478          97972        43970
2  Nesodden  2019-11-11          3570           1780         1183
3      Oslo  2019-11-11        547235         295242       103373
4    Røyken  2019-11-11         14447           7907         4978

1it [00:04,  4.95s/it]

20191112
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-12         85396          48111        21883
1     Bærum  2019-11-12        181420         104047        43081
2  Nesodden  2019-11-12          3814           1773         1081
3      Oslo  2019-11-12        546785         311734       102121
4    Røyken  2019-11-12         14297           8520         4973

1it [00:06,  6.41s/it]

20191113
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-13         85550          48820        21496
1     Bærum  2019-11-13        183537         102573        42366
2  Nesodden  2019-11-13          3476           1919          948
3      Oslo  2019-11-13        546068         307298       101478
4    Røyken  2019-11-13         14130           8724         5078

1it [00:03,  3.91s/it]

20191114
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-14         84248          48684        21692
1     Bærum  2019-11-14        181859         103507        41410
2  Nesodden  2019-11-14          3744           1620         1061
3      Oslo  2019-11-14        547818         305392        98821
4    Røyken  2019-11-14         14614           9052         4787

1it [00:03,  3.62s/it]

20191115
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-15         83046          48949        21492
1     Bærum  2019-11-15        175850          96327        41836
2  Nesodden  2019-11-15          3456           1685         1068
3      Oslo  2019-11-15        523647         281626        99104
4    Røyken  2019-11-15         14034           8698         5203

1it [00:04,  4.00s/it]

20191116
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-16         23648          28665        27845
1     Bærum  2019-11-16         46883          58062        55211
2  Nesodden  2019-11-16           934            998         1316
3      Oslo  2019-11-16        125141         144979       136586
4    Røyken  2019-11-16          4533           6070         6229

1it [00:04,  4.21s/it]

20191117
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-17         18202          26449        32532
1     Bærum  2019-11-17         35997          52285        65964
2  Nesodden  2019-11-17           963           1112         1380
3      Oslo  2019-11-17        102623         137052       156643
4    Røyken  2019-11-17          3662           4498         7236

1it [00:04,  4.18s/it]

20191118
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-18         86256          47435        22129
1     Bærum  2019-11-18        184044         101428        42943
2  Nesodden  2019-11-18          3880           1876         1036
3      Oslo  2019-11-18        543355         305465       103754
4    Røyken  2019-11-18         14105           8229         5484

1it [00:03,  3.32s/it]

20191119
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-19         81670          38039        17910
1     Bærum  2019-11-19        171295          75148        35374
2  Nesodden  2019-11-19          3506           1642          766
3      Oslo  2019-11-19        505085         226880        80515
4    Røyken  2019-11-19         14681           7246         4484

1it [00:03,  3.76s/it]

20191120
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-20         78094          42841        17292
1     Bærum  2019-11-20        158945          86675        34162
2  Nesodden  2019-11-20          3271           1705          839
3      Oslo  2019-11-20        455506         249043        79569
4    Røyken  2019-11-20         13571           7655         4395

1it [00:07,  7.71s/it]

20191121
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-21         82088          45737        20010
1     Bærum  2019-11-21        172754          94797        38797
2  Nesodden  2019-11-21          3212           1763          923
3      Oslo  2019-11-21        502328         275043        92295
4    Røyken  2019-11-21         13606           8495         4808

1it [00:03,  3.48s/it]

20191122
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-22         82524          44018        21155
1     Bærum  2019-11-22        173043          91920        41303
2  Nesodden  2019-11-22          3178           1701         1108
3      Oslo  2019-11-22        506148         263205        98553
4    Røyken  2019-11-22         14531           8006         5431

1it [00:07,  7.01s/it]

20191123
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-23         23765          29772        26980
1     Bærum  2019-11-23         47984          59226        54390
2  Nesodden  2019-11-23           906           1279         1208
3      Oslo  2019-11-23        128020         146621       131230
4    Røyken  2019-11-23          4821           5954         5934

1it [00:04,  4.67s/it]

20191124
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-24         18533          24249        32673
1     Bærum  2019-11-24         34837          48960        65939
2  Nesodden  2019-11-24           939            963         1491
3      Oslo  2019-11-24         99111         128905       157591
4    Røyken  2019-11-24          3595           4540         7400

1it [00:03,  3.48s/it]

20191125
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-25         84604          47492        20627
1     Bærum  2019-11-25        182943         103562        41090
2  Nesodden  2019-11-25          3722           1802         1105
3      Oslo  2019-11-25        540468         305591        99019
4    Røyken  2019-11-25         14905           8679         5540

1it [00:05,  5.01s/it]

20191126
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-26         86502          47694        20981
1     Bærum  2019-11-26        183240         102759        40870
2  Nesodden  2019-11-26          3790           1777         1136
3      Oslo  2019-11-26        542477         307411        99527
4    Røyken  2019-11-26         15269           8855         5228

1it [00:04,  4.24s/it]

20191127
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-27         86089          48227        21084
1     Bærum  2019-11-27        178237         102603        42333
2  Nesodden  2019-11-27          3330           1905         1091
3      Oslo  2019-11-27        537992         305422       102647
4    Røyken  2019-11-27         13877           7948         5188

1it [00:04,  4.76s/it]

20191128
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-28         83230          46469        21766
1     Bærum  2019-11-28        178893          98626        42817
2  Nesodden  2019-11-28          3455           1729         1053
3      Oslo  2019-11-28        531329         294301       103130
4    Røyken  2019-11-28         13580           8176         5295

1it [00:04,  4.15s/it]

20191129
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-29         80052          45441        21021
1     Bærum  2019-11-29        172056          95726        42943
2  Nesodden  2019-11-29          3266           1738         1043
3      Oslo  2019-11-29        522039         278021        97223
4    Røyken  2019-11-29         13893           8160         4945

1it [00:03,  3.36s/it]

20191130
       area        dato  people_short  people_medium  people_long
0     Asker  2019-11-30         24100          29993        26638
1     Bærum  2019-11-30         48843          60950        54461
2  Nesodden  2019-11-30          1020           1217         1372
3      Oslo  2019-11-30        133246         161529       129660
4    Røyken  2019-11-30          4821           5559         5845

1it [00:04,  4.41s/it]

2019-11-01